ol.stepper {
  --default-b: #6c869e;
  --default-c: #12222b;
  --circle: 1em;
  --b: 1px;

  display: flex;
  list-style: none;
  justify-content: space-between;
  background: linear-gradient(var(--default-b) 0 0) no-repeat 50%
    calc((var(--circle) - var(--b)) / 2) / 100% var(--b);
  counter-reset: step;
  padding: 0;
  font-size: x-small;
  counter-reset: step;
  overflow: hidden;
  width: 100%;
}
ol.stepper li {
  display: grid;
  place-items: center;
  gap: var(--b);
  position: relative;
}
ol.stepper li::before {
  content: "";
  counter-increment: step;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  height: var(--circle);
  border: 1px solid var(--default-c);
  background: var(--default-c);
  border-radius: 50%;
  z-index: 1;
}

.completed ~ li::before {
  background: var(--default-b);
  border: 1px solid var(--default-b);
}

ol.stepper li.active ~ li::before {
  background: var(--default-b);
  border-color: var(--default-b);
}

.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #cad5d9;
  border-radius: 4px;
  padding: 0.5rem;
}
