ol.stepper {
  --default-b: #6c869e;
  --default-c: #12222b;
  --active-b: purple;
  --active-c: white;
  --circle: 1em; /* size of circle */
  --b: 1px; /* line thickness */

  display: flex;
  list-style: none;
  justify-content: space-between;
  background: linear-gradient(var(--default-b) 0 0) no-repeat 50%
    calc((var(--circle) - var(--b)) / 2) / 100% var(--b);
  counter-reset: step;
  padding: 0;
  font-size: 12px;
  counter-reset: step;
  overflow: hidden;
  width: 100%;
}
ol.stepper li {
  display: grid;
  place-items: center;
  gap: 1px;
  position: relative;
}
ol.stepper li::before {
  content: '';
  counter-increment: step;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  height: var(--circle);
  border: 1px solid #12222b;
  background: var(--default-c);
  color: var(--active-c);
  border-radius: 50%;
  z-index: 1;
}
ol.stepper li.completed ~ li::before {
  background: var(--default-b);
  color: var(--default-c);
  border: 1px solid #12222b;
}
ol.stepper li.active ~ li::before {
  background: var(--default-b);
  color: var(--default-c);
  border: 1px solid (var(--default-b));
}
ol.stepper li.active::after {
  content: '';
  position: absolute;
  height: var(--b);
  right: 100%;
  top: calc((var(--circle) - var(--b)) / 2);
  width: 100%;
}

.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #cad5d9;
  border-radius: 4px;
  padding: 0.5rem;
}
